{
  "jsc": {
    "parser": { "syntax": "typescript", "tsx": false, "decorators": true },
    "target": "es2020",
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true,
      "hidden": { "jest": true }
    },
    "keepClassNames": false
  },
  "module": { "type": "commonjs" },
  "sourceMaps": true,
  "minify": false
}

