# fly.toml app configuration file generated for blog-back-server on 2025-11-12T09:14:36+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'blog-back-server'
primary_region = 'nrt'

[build]
dockerfile = "../../Dockerfile.server"

[env]
PORT = '8080'

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = 'suspend'
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[[vm]]
memory = '512mb'
cpu_kind = 'shared'
cpus = 1
